@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

main {
 
  
}

/* Sign-up form component */
.component {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

/* Image sidebar */
.sidebar {
  flex: 1;
  background-image: url('../images/ferns.jpg');
   justify-content: space-between;
  padding-top: 10rem;
   background-repeat: no-repeat;
    background-size: cover;
}

.title {
  display: flex;
  background-color: rgb(43 43 43 / 70%);
  align-items: center;
  justify-content: center;
  height:6rem ;

}

.title img {
  height: 5rem;
  
}

.title h1 {
  font-family: "Norse-Bold";
  font-size: 4rem;
  color: white; 
}


.main-content{
    flex: 2;
}